.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#title {
    font-size: 42px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.tasks-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}